{% extends "templates/base.html" %}

{% block head %}
<h2>About Me</h2>
{% endblock %}

{% block content %}
	<div class = "aboutme">
		<div class="row">
			<p class = "col-xs-12 col-md-4">
				Hello, my name is Anna Scheppele (pronounced shep-el-ee). I am currently a sophomore at the University of Michigan studying Information Science and minoring in Computer Science. I have just recently realized my love for programming and I am excited that I finally found a major that I am passionate about! I grew up playing a lot of video games (and still do) so I have always been interested in hardware and technology.
			</p>
			<img src="static/familydogs.jpg" alt="my family and dogs" class = "col-xs-12 col-md-8">
		</div>
	</div>

	<div class = "aboutme">
		<div class="row">
			<p class = "col-xs-12 col-md-4">
				I am from Canton, Michigan, which is in between Ann Arbor and Detroit. I grew up as a big sports fan in general. My grandparents were huge Detroit Tigers fans, so I have always loved baseball. When I was younger I used to play softball, tennis, soccer, and basketball. Eventually I quit everything except softball until I started playing tennis again my sophomore year in high school. One of my best decisions was to quit softball to play tennis again in high school because I had the best teammates I could ever hope for.
			</p>
			<img src="static/tennis.jpg" alt="my tennis team" class = "col-xs-12 col-md-8">
		</div>
	</div>

	<div class="aboutme">
		<div class="row">
			<p class = "col-xs-12 col-md-4">
				 Family has always been a central part of my life. My dad is the youngest of ten kids, so his side of the family is pretty large and my mom is the youngest of three, so her family is smaller but they are all still local. My mom is my hero. She has had many hardships in life over the past ten years and has grown stronger from it all. I also have a brother who is four years older than me. Family life hasn't always been perfect, but I don't know what I would do without them.
			</p>
			<img src="static/mom.jpg" alt="my mom and I" class = "col-xs-12 col-md-8">
		</div>
	</div>
{% endblock %}
