{% extends "templates/base.html" %}

{% block head %}
<h2>Sign Up</h2>
{% endblock %}

{% block content %}
	<p class = "formpara">Please use some kind of bogus password, like "password" or "1234" because the data will be saved unsecurely. Use a valid email as a confirmation email will be sent!</p>

	<form method="post" action="/loggedin.html" onclick = "return check(this)">
		<label>Email: <input type = "email" name = "email1" id = "e1"></label> <br/>
		<label>Confirm Email: <input type = "email" name = "email2" id = "e2"></label> <br/>
		<label>Password: <input type = "password" name = "pw1" id = "pw1"></label> <br/>
		<label>Confirm Password: <input type = "password" name = "pw2" id = "pw2"></label> <br/>
		<input type = "submit" value = "Sign Up" id = "signup">
	</form>

	<p class = "formpara">If you have already signed up and want to login, click <a href="login.html"><button>here</button></a></p>
{%endblock%}