{% extends "templates/base.html" %}

{% block head %}
<h2>Log In</h2>
{% endblock %}

{% block content %}
	<p class="formpara">Test values--Email: test@test.com  Password: testpass</p>
	<p class="formpara">{{fail}}</p>
	<form method="post" action="/login.html">
		<label>Email: <input type = "email" name = "email1" id = "e1"></label> <br/>
		<label>Password: <input type = "password" name = "pw1" id = "pw1"></label> <br/>
		<input type = "submit" value = "Login" id = "signup">
	</form>

{%endblock%}